$sellwight: 1000px;
$sellscolors: (
    sell1: rgb(194, 22, 22),
    sell2:#1153e4,
    sell3:#32a528
);


$pagefont:(
    font1: normal,
    font2: center,
    font3: 'Bebas Neue', 
    font4: cursive
);

$back-groundbody: rgba(248, 249, 250, 0.5);
$back-groundfooter: black;
$autoimage: auto;
$transitions: width 0.5s, height 0.5s, margin 0.5s;